:root{
    --principal-color: #0070FF;
    --secondary-color: #FAC710;
    --complementary-color: #D6F0FF;
    --body-color: #f6f6f6;
    --black: #1a1a1a;
    --input-color-text: #9b9999;
    --text-lg: 6rem;
    --text-md: 3rem;
    --text-sm: 1.5rem;
    --text-input: 1.2rem;
    --principal-font: "Fredoka", sans-serif;
    --secondary-font: "Roboto Mono", monospace;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 400px;
}
.front-card{
    width: 300px;
    height: 420px;
    background: var(--complementary-color);
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid var(--black);

    position: absolute;
    transform: perspective(500px) rotateY(0deg);
}
.image-proyect{
    width: 100%;
}
.info-container-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-top: -4px;
    & h3 {
        font-family: var(--principal-font);
        font-size: var(--text-sm);
    }
}
.cont-tecnologies{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 100%;
}
.icon-card{
    width: 40px;
    height: 40px;
}
.icon-card:hover{
    transform: scale(1.1);
    cursor: default;
}
.contain-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 8px;
}
.button-flip{
    width: 120px;
    height: auto;
    background: var(--principal-color);
    border-radius: 10px;
    border: 2px solid var(--black);
    color: var(--black);
    font-family: var(--principal-font);
    font-weight: 800;
    font-size: var(--text-sm);
    padding: 2px 2px;
}
.button-flip:hover{
    cursor: pointer;
    background: var(--secondary-color);
    transform: scale(1.1);
}

.back-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 420px;
    padding: 2px 4px;
    background: var(--complementary-color);
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid var(--black);
    position: absolute;
    transform: perspective(500px) rotateY(180deg);
}
.card-description{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 360px;
    padding: 8px 20px;
    & h3 {
        font-family: var(--principal-font);
        font-size: var(--text-sm);
    }
    & p {
        font-family: var(--secondary-font);
        font-size: var(--text-input);
    }
}
.card-container div{
    backface-visibility: hidden;
    transition: 1s;
}
.flip-front{
    transform: perspective(500px) rotateY(180deg);
}
.flip-back{
    transform: perspective(500px) rotateY(360deg);
}